aside{
background-color:rgb(52, 23, 83);
width: 200;
height: 100%;
color: white;

}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

ul{
    padding-left: 0px;
    list-style: none;
}

li{
    padding-top: 25px;
}

i{
padding-right: 8px;
padding-left: 4px;
width: 30px;
}